.header{
  padding: 40px 0;
  flex-direction: column;
}
.title{
  font-weight: 600;
  font-size: 30px;
  margin: 15px;
}

.container{
  width: 700px;
  @media (max-width: 800px) {
    width: 85vw;
  }
  margin: 10px;
  flex-wrap: wrap;
  grid-column-gap: 20px;
}

.inputSearch{
  padding: 15px;
  width: 80%;
  height: 30px;
  border-radius: 3px 0 0 3px;

  font-size: 15px;
}
.button{
  padding: 5px;
  border-radius: 0 3px 3px 0;
  width: 30px;
  height: 30px;
}
